table {
  border-collapse: collapse;
  border: none;
}

thead {
  border-radius: 10px 10px 0 0;
  outline: 1px solid #e4e4e7;

}

tbody {
  border-radius: 0 0 10px 10px;
  outline: 1px solid #e4e4e7;
}

td,
th {
  padding: 10px 30px;
  margin: 0;
}
